#fileUploadForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  border: none
}

.list-group-flush {
  list-style-type: none; /* 점 제거 */
}

.news-title {
  color: #000000; /* 검은색 */
  font-weight: bold; /* 더 진하게 */
  font-size: 1.1em; /* 글씨 크기 증가 */
}

a {
  color: inherit; /* 상속받은 색상을 사용 */
  text-decoration: none; /* 밑줄 제거 */
}

a:hover {
  text-decoration: underline; /* 마우스 호버 시 밑줄 표시 */
}


/* 오직 python-card 클래스가 적용된 카드에 대한 스타일 */
.python-card .card-body {
  height: 18.6rem;
  overflow: auto; /* 스크롤바 추가 */
}

.python-card .python-code {
  text-align: left; /* 코드를 왼쪽으로 정렬 */
}